set AWS_ACCESS_KEY_ID=<YOUR AWS ACCESS KEY>
set AWS_SECRET_ACCESS_KEY=<YOUR AWS SECRET ACCESS KEY>
set AWS_REGION=<YOUR AWS REGION>
set SERVERLESS_ACCESS_KEY=<YOUR SERVERLESS ACCESS KEY>
set SLS_DEBUG=
set region=<YOUR AWS REGION>
set env=dev
set project=<YOUR SERVICE NAME>